* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

.first {

    height: 748px;
    width: 100%;
    background: linear-gradient(180deg, #CEFFB8 0%, #91F2CF 59%, #3CFFCE 100%);

}

header {
    background-color: transparent;
    width: 100%;
    height: 80px;
    color: black;
    display: flex;
    align-items: center;


}

nav {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo p {

    font-family: Ramabhadra;
    font-weight: 400;
    font-style: Regular;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;


    margin-left: 10px;
}

.logo {
    justify-content: space-between;
    display: flex;
    margin-left: 5%;
    font-size: 24px;
    font-weight: bold;
}

.buttons {
    margin-right: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 15%
}

.login {
    background-color: transparent;
    width: 90;
    height: 44;
    opacity: 1;
    border-width: 2px;
    gap: 10px;
    border-radius: 10px;
    padding-top: 6px;
    padding-right: 25px;
    padding-bottom: 6px;
    padding-left: 25px;

    cursor: pointer;
    font-family: Manrope;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: -0.16px;
    vertical-align: middle;
}

.signup {
    cursor: pointer;
    width: 176;
    height: 41px;
    background-color: black;
    opacity: 1;
    border-width: 2px;
    gap: 10px;
    border-radius: 10px;
    padding-top: 6px;
    padding-right: 25px;
    padding-bottom: 6px;
    padding-left: 25px;


}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

nav ul li {
    font-weight: 600;
    font-family: Manrope;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 15px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: black;

    padding: 10px 20px;
    cursor: pointer;
}

header {
    display: flex;
    justify-content: space-between;
}

.center {
    width: 697;
    height: 370;
    top: 160px;
    left: 371.5px;
    angle: 0 deg;
    opacity: 1;
    gap: 16px;
    padding: 6% 27%;

}

.star {

    margin-left: 40%;
    width: 158;
    height: 24;
    angle: 0 deg;
    opacity: 1;
    gap: 8px;
    display: flex;

}

.star p {
    font-family: Manrope;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: 0px;
    vertical-align: middle;

}

.star p span {
    font-family: Manrope;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: 0px;
    vertical-align: middle;
    color: #616161;
}

.box {
    width: 697px;
    height: 370px;
    top: 160px;
    left: 371.5px;
    angle: 0deg;
    opacity: 1;
    gap: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.brand {

    background-color: black;

}

.title {
    padding-top: 10px;
    font-family: "DM Sans", sans-serif;

    font-weight: 700;

    font-size: 32px;

    line-height: 74px;
    text-align: center;
    vertical-align: middle;

}

.title h1 {
    font-family: "DM Sans", sans-serif;
    font-weight: 900;
    font-size: 72px;
    line-height: 74px;
    text-align: center;
    vertical-align: middle;
    font-style: bold;


}

.text {
    width: 70%;
    height: 90;
    angle: 0 deg;
    opacity: 1;

}

.text p {
    font-family: Manrope;
    font-weight: 500;
    font-style: Medium;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;

}

.demo {
    width: 325;
    height: 48;
    angle: 0 deg;
    opacity: 1;
    gap: 24px;
    display: flex;
    justify-content: center;
}

.b1 {
    background-color: transparent;
    border-radius: 8px;
    padding: 10px 20px;
    font-family: Manrope;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 14px;
    leading-trim: NONE;
    line-height: 14px;
    letter-spacing: 0%;
    vertical-align: middle;

}

.b2 {
    background-color: black;
    border-radius: 8px;
    padding: 10px 20px;
    font-family: Manrope;
    color: white;
    font-family: Manrope;
    font-weight: 600;
    font-size: 14px;
    leading-trim: NONE;
    line-height: 14px;
    letter-spacing: 0%;
    vertical-align: middle;

}

.brand {
    width: 100%;
    height: 100px;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

.b {
    padding: 0% 3%;
}

.Second {

    height: 748px;
  height: auto;
    background: #121212;
}

.eye {
    padding: 80px 27%;
    color: white;
    align-items: center;
}

.eye h4 {
    font-family: "DM Sans", sans-serif;
    font-size: 54px;
    font-weight: 800;
    text-align: center;
    vertical-align: middle;
    padding-bottom: 15px;

}

.eye p {
    font-family: Manrope;
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    leading-trim: NONE;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    padding: 0% 8%;
    color: #84A5AA;

}

.tred {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.tred img {
    margin-right: 80px;
    height: 380px;
    width: 900px;
    angle: 0 deg;
    opacity: 1;

}


.d1 {
    border: 1px solid #FFFFFF26;
    width: 237.64999389648438px;
    height: 158px;
    angle: 0 deg;
    opacity: 1;
    gap: 4px;
    margin-bottom: 20px;
    border-radius: 12px;
    border-width: 1px;
    padding-top: 12px;
    padding-right: 32px;
    padding-bottom: 12px;
    padding-left: 32px;
    background: linear-gradient(180deg, rgba(28, 232, 171, 0.22) 0%, rgba(255, 255, 255, 0) 100%);

}

.d2 {
    border: 1px solid #FFFFFF26;
    width: 237.64999389648438px;
    height: 158px;
    angle: 0 deg;
    opacity: 1;
    gap: 4px;
    border-radius: 12px;
    border-width: 1px;
    padding-top: 12px;
    padding-right: 32px;
    padding-bottom: 12px;
    padding-left: 32px;
    background: linear-gradient(180deg, rgba(28, 232, 171, 0.22) 0%, rgba(255, 255, 255, 0) 100%);

}

.grident {

    width: 237px;
    height: 341px;
    angle: 0 deg;
    opacity: 1;
    gap: 25px;

}

.founder {
    justify-self: center;
    width: 1240px;
    height: 258px;
    top: 719px;
    left: 100px;
    angle: 0 deg;
    opacity: 1;
    border-radius: 12px;
    border-width: 1px;
    background: linear-gradient(180deg, rgba(28, 232, 171, 0.08) 0%, rgba(255, 255, 255, 0) 100%);
    border: 1px solid #FFFFFF26
}

.photo {
   margin: 20px;
   margin-left: 6% ;
   justify-items: start
   
}

.name{
    width: 213.4957275390625;
height: 50.400001525878906;
angle: 0 deg;
opacity: 1;
gap: 4px;


}

.photo img{

    margin-left: 50px;
}

.photo p{
    font-family: Manrope;
font-weight: 400;
font-style: Regular;
font-size: 16px;
leading-trim: NONE;
line-height: 24px;
letter-spacing: 0%;
vertical-align: middle;
color: #84A5AA;


}

.photo h6{
    margin-left: 54px;
    margin-top: 12px;
    font-family: Manrope;
font-weight: 600;
font-style: SemiBold;
font-size: 16px;
leading-trim: NONE;
line-height: 24px;
letter-spacing: 0%;
vertical-align: middle;
color: #FFFCF6;
}

.scale{
    width: 516;
height: 229;
angle: 0 deg;
opacity: 1;
gap: 16px;

padding-left: 9%;
padding-right: 55%;
}

.scale h2{
    padding-right: 20%;
    font-family: Inter;
font-weight: 700;
font-style: Bold;
font-size: 30px;
leading-trim: NONE;
line-height: 39px;
letter-spacing: -0.3px;
vertical-align: middle;
color: #FFFCF6;
;
}

.scale p{
    padding-right: 8%;
    font-family: Manrope;
font-weight: 400;
font-style: Regular;
font-size: 18px;
leading-trim: NONE;
line-height: 26.99px;
letter-spacing: 0%;
vertical-align: middle;
color: #84A5AA;
margin-top: 25px;
}